captum==0.2.0
imageio==2.8.0
kaggle==1.5.6
matplotlib==3.2.1
nptyping==1.1.0
numpy
pandas
scikit-image==0.16.2
scikit-learn
scipy==1.4.1
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
torch==1.4.0
torchvision==0.5.0
jupyter
notebook
ipython